# .gitconfig from https://gitlab.com/m3361/dotfiles

[user]
	name = Marc Zoon
	email = marc@famzoon.nl

[alias]
	tree = log --oneline --graph --decorate --all
	tree-full = log --graph --decorate --all

[init]
	defaultBranch = main

[color "status"]
	added = green
	changed = yellow
	untracked = red

[url "https://github.com"]
	insteadOf = gh:
[url "https://gitlab.com"]
	insteadof = gl:
