[include]
    path = ~/.gitconfig.local

[alias]
	tree = log --oneline --graph --decorate --all
    tree-full = log --graph --decorate --all
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[init]
	defaultBranch = main

[color "status"]
	added = green
	changed = yellow
	untracked = red

[url "https://github.com"]
	insteadOf = gh:
[url "https://gitlab.com"]
	insteadof = gl:
